{% extends 'base.html.twig' %}

{% block title %}Application de gestion des comptes bancaires | accueil{% endblock %}

{% block body %}
    <h1>Application de gestion des comptes bancaires</h1>
	<p>Bienvenue {{ app.user.gender ? "M." : "Mme" }} {{ app.user.firstname }} {{ app.user.lastname }}</p>
{% endblock %}
