{% extends 'base.html.twig' %}

{% block title %}Application de gestion des comptes bancaires | accueil{% endblock %}

{% block body %}
    <h1>Application de gestion des comptes bancaires</h1>
{% endblock %}
