{% if is_granted('ROLE_USER') %}
	<nav>
		<ul>
			{% if is_granted('ROLE_ADMIN') %}
				<li>
					<a href="{{ path('user_adviser_list') }}">Gérer les chargés de clientèle</a>
				</li>
				<li>
					<a href="{{ path('user_customer_list') }}">Gérer les clients</a>
				</li>
			{% endif %}
			<li>
				<a href="{{ path('app_logout') }}">Déconnexion</a>
			</li>
		</ul>
	</nav>
{% endif %}