{% extends 'base.html.twig' %}

{% block title %}Modification d'un chargé de clientèle{% endblock %}

{% block body %}
    <h1>Modification d'un chargé de clientèle</h1>
    {{ include('user/partials/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('user_adviser_list') }}">Retour</a>

    {{ include('user/partials/_delete_form.html.twig') }}
{% endblock %}
