{% extends 'base.html.twig' %}

{% block title %}Création d'un client{% endblock %}

{% block body %}
    <h1>Création d'un client</h1>
    {{ include('user/partials/_form.html.twig') }}
    <p><a href="{{ path('user_customer_list') }}">Retour</a></p>
{% endblock %}