{% extends 'base.html.twig' %}

{% block title %}Création d'un compte client{% endblock %}

{% block body %}
    <h1>Création d'un compte client</h1>
    {{ include('user/partials/_form.html.twig') }}
    {% if is_granted('ROLE_ADVISER') %}
        <p><a href="{{ path('user_customer_list') }}">Retour</a></p>
    {% endif %}
{% endblock %}