{% extends 'base.html.twig' %}

{% block title %}Effectuer une transaction{% endblock %}

{% block body %}
<h1>Réaliser une transaction</h1>
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Valider la transaction') }}</button>
{{ form_end(form) }}
{% endblock %}
