{% extends 'base.html.twig' %}

{% block title %}Réaliser un virement{% endblock %}

{% block body %}
<h1>Réaliser un virement</h1>
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Valider le virement') }}</button>
{{ form_end(form) }}
{% endblock %}
